doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/zerogrid.css')
    link(rel='stylesheet' href='/stylesheets/responsive.css')
    link(rel='stylesheet' href='/stylesheets/reset.css')
    link(rel='stylesheet' href='/stylesheets/slider.css')
    link(rel='stylesheet' href='/stylesheets/contactform.css')
    //- link(rel='stylesheet' href='/stylesheets/demo.css')
    //- link(rel='stylesheet' href='/stylesheets/grid_12.css')
    //- link(rel='stylesheet' href='/stylesheets/ie.css')
    script(src="/javascripts/jquery-1.7.min.js")
    script(src="/javascripts/jquery.easing.1.3.js")
    script(src="/javascripts/html5.js")
    script(src="/javascripts/tms-0.4.1.js")
    script(src="/javascripts/css3-mediaqueries.js")
    script(src="/javascripts/uCarousel.js")
  body
    block content
